<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:metrics="http://www.ryantenney.com/schema/metrics"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.ryantenney.com/schema/metrics
           http://www.ryantenney.com/schema/metrics/metrics-3.0.xsd">

	<!-- Registry should be defined in only one context XML file -->
	<metrics:metric-registry id="metrics" />

	<!-- annotation-driven must be included in all context files -->
	<metrics:annotation-driven metric-registry="metrics" />

	<!-- (Optional) Registry should be defined in only one context XML file -->
	<metrics:reporter type="console" metric-registry="metrics"
		period="5s" />

	<!-- (Optional) The metrics in this example require the metrics-jvm jar -->
	<metrics:register metric-registry="metrics">
		<bean metrics:name="jvm.gc"
			class="com.codahale.metrics.jvm.GarbageCollectorMetricSet" />
		<bean metrics:name="jvm.memory" class="com.codahale.metrics.jvm.MemoryUsageGaugeSet" />
		<bean metrics:name="jvm.thread-states"
			class="com.codahale.metrics.jvm.ThreadStatesGaugeSet" />
		<bean metrics:name="jvm.fd.usage"
			class="com.codahale.metrics.jvm.FileDescriptorRatioGauge" />
	</metrics:register>

	<!-- Beans and other Spring config -->

	<bean id="annotationObject" class="io.github.hengyunabc.metrics.test.AnnotationObject" />
</beans>